html, body{
    margin: 0;
    padding: 0;
    background: #2B2B2B;
    color: #F6F6F6;
}

.creation{
    border: grey;
    background: grey;
    color: white;
}

.creation:hover{
    color: orange;    
}

.last-topic-contain{
    margin-top: 10em;
}

section h2{
    text-align: center;
    color: white;
    text-decoration: none;
}

section{
    border: 1px solid;
    margin-bottom: 3%;
}

section hr{
    width: 80%;
}

li a{
    color: black;
    text-decoration: none;
}

li a:hover{
    color: orange;
    text-decoration-style: none;
}

.disscusion-box{
    float: right;
    margin-top: 3px;
    height: 18em;
    width: 30em;
    border: 1px solid;
}

.all-themes{
    height: 300px;
}

.ul-container{
    border : none;
}

.strong{
    float: left;
    margin-left: 15%;
    padding-bottom: 15px;
}

